[submodule "lab-1a-Jtoosh"]
	path = lab-1a-Jtoosh
	url = https://github.com/BYU-ITC-210/lab-1a-Jtoosh
[submodule "lab-1b-Jtoosh"]
	path = lab-1b-Jtoosh
	url = https://github.com/BYU-ITC-210/lab-1b-Jtoosh.git
[submodule "lab-2a-Jtoosh"]
	path = lab-2a-Jtoosh
	url = https://github.com/BYU-ITC-210/lab-2a-Jtoosh.git
[submodule "lab-2b-Jtoosh"]
	path = lab-2b-Jtoosh
	url = https://github.com/BYU-ITC-210/lab-2b-Jtoosh.git
[submodule "lab-3a-Jtoosh"]
	path = lab-3a-Jtoosh
	url = https://github.com/BYU-ITC-210/lab-3a-Jtoosh.git
