#navHeading {
    position: absolute;
    top: 10px;
    font-family:'Courier New', Courier, monospace;
}

h2{
    position:absolute;
    top: 50px;

}

.articleText {
    position: relative;
    top: 100px;
}

img {
    width: 200px;
    height: 200px;
    transition: width 2s, height 2s;
}

img:hover{
    width: 400px;
    height: 400px;
}